<!doctype html>
<html>
    <head>
        <title>JWT API</title>
        <meta name="viewport" content="width=device-width">
        <style>
            .box {
                margin: 10px;
                margin-top: 15px;
                margin-bottom: 15px;
                font-family: Roboto;
            }
        </style>
    </head>
    <body>
        <div class="box">
            {{{body}}}
        </div>
    </body>
</html>