<!doctype html>
<html>
    <head>
        <title>404 - Not Found</title>
        <meta name="viewport" content="width=device-width">
        <style>
            .box {
                margin: 10px;
                margin-top: 15px;
                margin-bottom: 15px;
                font-family: Roboto;
            }
        </style>
    </head>
    <body>
        <div class="box">
            <h1>404 - Not Found</h1>
            <p>The page or resource you requested for was not found on this server.</p>
        </div>
    </body>
</html>