{% extends "layout.twig" %}

{% block title %}404 - Not Found{% endblock %}

{% block content %}
	<div class="box">

		<h1>404 - Not Found</h1>

		<div class="divider"></div>

		<p>The page or resource you requested for was not found on this server.</p>

	</div>
{% endblock %}