{% extends "layout.twig" %}

{% block title %}500 - Server Error{% endblock %}

{% block content %}
	<div class="box">

		<h1>500 - Server Error</h1>

		<div class="divider"></div>

		<p>An error occured while handling your request.</p>

	</div>
{% endblock %}