{% extends "layout.twig" %}

{% block title %}
    Simple JWT API (MySQL Compatible)
{% endblock %}

{% block content %}
	<div class="box">

		<h1>Simple JWT API (MySQL Compatible)</h1>

		<div class="divider"></div>

		<p>You learn in a moment but master for a lifetime.</p>

	</div>
{% endblock %}